<h2>最近のKutter</h2>
[% WHILE ( tweet = tweets.next ) -%]
<p>
<img src="[% tweet.user.image_url | html %]" alt="" width="48" height="48" />
<a href="[% tweet.user.permalink | html %]">[% tweet.user_name | html %]</a>:
<strong>[% tweet.food.name | html %]</strong>
[% tweet.body -%] at <a href="[% tweet.permalink | html %]">[% tweet.created_on.hms(':') %]</a>
</p>
[% END -%]

[% SET pager = tweets.pager -%]
[% INCLUDE module_pager.tt2 %]